[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "*"
bezier = "*"
seaborn = "*"
sympy = "*"
webcolors = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
